# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
data_pivot_ch = data.pivot_table(index=['children'], columns='debt', values='education', aggfunc='count') # Получим таблицу , где видно количество детей и наличие просроченного долга
data_pivot_ch = data_pivot_ch.rename(columns={0:'количество заемщиков',1:'количество должников'}) # переименуем названия столбцов
data_pivot_ch['процент должников'] = ((data_pivot_ch['количество должников']/data_pivot_ch['количество заемщиков'])*100)
data_pivot_ch # вывод на экран

debt      количество заемщиков  количество должников  процент должников
children
0                      13028.0                1063.0           8.159349
1                       4364.0                 444.0          10.174152
2                       1858.0                 194.0          10.441335
3                        303.0                  27.0           8.910891
4                         37.0                   4.0          10.810811
5                          9.0                   NaN                NaN

**Вывод:** По результатам анализа предоставленной статистики, делаю вывод, что нет зависимости между количеством детей у заемщика и своевременным погашением ссудной задолженности. Доля должников составляет 8-10%, в даипазоне от 0 до 5 детей. При этом, при наличии 5 детей процент не возврата кредитов равен нулю.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
data_pivot_fs = data.pivot_table(index=['family_status'], columns='debt', values='family_status_id', aggfunc='count') # Получим таблицу , где видно семейное положение и наличие просроченного долга
data_pivot_fs = data_pivot_fs.rename(columns={0:'количество заемщиков не имеющих просрочки',1:'количество должников'}) # переименуем названия столбцов
data_pivot_fs['Всего заемщиков'] = (data_pivot_fs['количество должников'] + data_pivot_fs['количество заемщиков не имеющих просрочки'])  # найдем итого  заемщиков
data_pivot_fs ['процент должников'] = ((data_pivot_fs['количество должников']/data_pivot_fs['количество заемщиков не имеющих просрочки'])*100) # найдем процент должников
data_pivot_fs # вывод на экран

debt,количество заемщиков не имеющих просрочки,количество должников,Всего заемщиков,процент должников
family_status,,,,
Не женат / не замужем,2523,273,2796,10.820452
в разводе,1105,84,1189,7.601810
вдовец / вдова,888,63,951,7.094595
гражданский брак,3749,385,4134,10.269405
женат / замужем,11334,927,12261,8.178931

**Вывод:** Обнаружена зависимость между семейным положением и возвратом кредита в срок. Видим наиболее высокий процент должников среди не женатых заемщиков и заемщиков, состоящих в гражданском браке (примерно одинаковый процент в размере 10,8% и 10,3%). Доля должников среди женатых заемщиков составляет 8,2%, что в среднем на 2% меньше по сравнению с не женатыми или состоящими в гражданском браке. Минимальный процент должников среди разведенных или вдовцов - 7,6% и 7,1% соответственно.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [54]:
data_pivot_inc = data.pivot_table(index=['total_income_category'], values=['debt'], aggfunc=['sum', 'count', 'mean']) # сформирует таблицу по категориям доходности со столбцами (кол-во задолжников, общее кол-во, их отношение)
data_pivot_inc.columns=['sum_debt','count_debt','mean_debt'] #присвоим новые названия столбцам

data_pivot_inc #вывод на экран

                       sum_debt  count_debt  mean_debt
total_income_category
A                             2          25   0.080000
B                           354        5014   0.070602
C                          1353       15921   0.084982
D                            21         349   0.060172
E                             2          22   0.090909

**Вывод:** Разделили заемщиков на 5 групп в зависимости от суммы доходов.Исходя из имеющихся данных, видно отстутствие  зависимости между уровнем дохода и возврата кредита в срок.    
   Видно что, наибольшее количество кредитов взято заемщиками с относительно средним доходом из категории "С","В","D". И заемщики с самым высоким и самым низким доходами, не особо оформляют кредиты. 
   Минимальное количество должников 6%, находятся в категориях "D" - с доходом до 50тыс.
   Должники в категории "В" составляют 7%. Далее 8% - это должники в категории "А" с доходом свыше 1млн.
   Должники в категории "С" составляют 8,4%.
   И 9% составляют должники с наименьшим доходом до 30тыс. в категории "Е".

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [56]:
data_pivot_pur = data.pivot_table(index=['purpose_category'], values=['debt'], aggfunc=['sum', 'count', 'mean']) # разделение заемщиков по целям получения кредита
data_pivot_pur.columns=['sum_debt','count_debt','mean_debt'] #присвоим новые названия столбцам
data_pivot_pur# Ваш код будет здесь. Вы можете создавать новые ячейки.

                          sum_debt  count_debt  mean_debt
purpose_category
операции с автомобилем         400        4279   0.093480
операции с недвижимостью       780       10751   0.072551
получение образования          369        3988   0.092528
проведение свадьбы             183        2313   0.079118

**Вывод:** Исходя из имеющихся данных,обнаружено наличие зависимости цели кредита на его возврат в срок. Выявлено что при оформлении кредита с целью решения вопрос связанных с недвижимостью и с целью проведения свадьбы процент не возврата в срок состовляет всего 7%. Против 9% процентов по целям : операции с автомобилем и получение образования. Можно предположить что первые надежнее вторых, даже с учетом объема количества выданных кредитов.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Так, стоит учитывать человеческий фактор (кто-то что-то не ввел, умышленно или нет) также может стать причиной пропусков в данных.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Среднее и медиана оценивают значения в центре выборки. Если диапазон значений приемлемый - среднее подойдет. Но когда есть оторванные от основной массы лидеры, их результаты сильно смещают значение среднего вверх. Вот почему оценивать значения в большом диапазоне лучше медианой.

### Шаг 4: общий вывод.

Для корректного исследования надежности заемщиков привели данные в  порядок чтобы с ними можно было работать и получить актуальную информацию для анализа:
 - Импортировали данные, очистили данные, удалили пропуска,дубликаты, обработали аномалии, сделали категоризацию данных;

Работа была направлена на выявление зависимостей между возвратом кредита в срок и :

количеством детей.По результатам анализа предоставленной статистики, делаю вывод, что нет зависимости между количеством детей у заемщика и своевременным погашением ссудной задолженности.;

семейным положением - Обнаружена зависимость между семейным положением и возвратом кредита в срок. Видим наиболее высокий процент должников среди не женатых заемщиков и заемщиков, состоящих в гражданском браке (примерно одинаковый процент в размере 10,8% и 10,3%).;

уровнем дохода - зависимость бросается в глаза,не берем в расчет полярные величины, наглядно видна прямопропорциональная зависимость между уровнем дохода и возвратом кредита в срок. ;

целью кредита  - зависимость есть, наибольшая доля должников взяла кредит на операции с недвижимостью состовляет 50% и по 18-20 на цели: автомобиль и образование.Это несомненно является маркером для скоринга.

Исходя из выше изложенного можно сделать вывод, что при анализе заемщиков уровень дохода и цель кредита является наиоболее показательными, для возврата кредита в срок. Семейное положение как дополнение показывает что "женатые/замужние" , незначительно но надежнее других категорий. И количество детей не выявило зависимостей и других закономерностей по отношение к возврату кредита в срок.